@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    color: #102A43;
}

h1, h2, h3 {
    font-weight: 800;
}

h4, h5, h6 {
    font-weight: 700;
}

p {
    font-size: 16px;
}

::selection {
    @apply bg-purple-50 text-purple-900
}

.link {
    @apply cursor-pointer hover:text-purple-600 transition-all duration-300
}
